/GitKraken/
/obsidian/

user-dirs.locale

user-dirs.dirs

dconf/

konsolerc

konsolesshconfig

ksmserverrc

systemsettingsrc

session/

pulse/

wal/templates/

wal/wal/templates/

kde.org/

mimeapps.list

.idea