/*
 * Teal:        #4fe0cf
 * Dark Blue:   #27292e
 *
 * */

window {
    opacity: 0.9;
    margin: 5px;
    border: 1px solid #4fe0cf;
    border-radius: 10px;
    background-color: #27292e;
}

#input {
    margin: 5px;
    border: none;
    color: #5a5d66;
    background-color: #27292e;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #27292e;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #27292e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
} 

#entry:selected {
    background-color: #41444d;
    border-radius: 5px;
}
